.Logoimg{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    padding-left: 30px;
   
}

.Img{
    width:100px;
    height:100px;
    border-radius: 50%;
}